html, body {width:100%; height:100%; overflow:hidden;}

#map-canvas {float:left; width:70%; height:100%;}

aside {color:#01a802; position:relative; background:url('../img/interface/bg.gif') repeat 0 0; float:left; width:30%; height:100%;}
aside ul {height:400px; overflow:scroll; margin:0; padding:0; list-style:none;}
aside li {border:1px solid #666; padding:5px; margin:10px; background-color:rgba(0,0,0,0.5);}

aside form {width:100%; border-top:1px; position:absolute; bottom:0;}
aside label {display:none;}
aside textarea {width:100%;}
aside #send, aside #connect {display:block; width:100%; height:100%; background-color:#000; color:#01a802;}

#connect-overlay {display:block; color:#000; width:100%; height:100%; background-color:#fff;}